### MinMax Scaler

In [1]:
# import libraries
import pandas as pd
import numpy as np

In [11]:
df = pd.read_csv("../Data/train.csv")

In [12]:
df.columns

Index(['Id', 'x0_t0', 'x0_t1', 'x0_t2', 'x0_t3', 'x0_t4', 'x0_t5', 'x0_t6',
       'x1_t0', 'x1_t1',
       ...
       'x53_t5', 'x53_t6', 'x54_t0', 'x54_t1', 'x54_t2', 'x54_t3', 'x54_t4',
       'x54_t5', 'x54_t6', 'y2'],
      dtype='object', length=387)

In [13]:
x = df.drop(['y2'],1)
y=df['y2']
x.head()

,Id,x0_t0,x0_t1,x0_t2,x0_t3,x0_t4,x0_t5,x0_t6,x1_t0,x1_t1,...,x53_t4,x53_t5,x53_t6,x54_t0,x54_t1,x54_t2,x54_t3,x54_t4,x54_t5,x54_t6
0,706,762.212216,753.162754,754.610620,762.787135,768.170347,769.815486,750.950000,0.902534,0.873314,...,91.178811,87.200000,87.2,1.788239,1.883677,1.894829,1.865024,1.755078,2.03000,2.03
1,239,762.671780,746.631882,745.807832,755.992886,761.814347,766.110745,762.535189,1.366119,1.358298,...,71.894269,72.613391,87.2,1.920067,1.820872,1.863998,1.827162,1.964556,1.96579,2.03
2,613,766.867777,756.642963,750.059697,756.377980,760.087594,758.380275,750.950000,0.821431,0.825063,...,87.371393,87.200000,87.2,2.084817,2.019537,2.197232,2.032493,1.976534,2.03000,2.03
3,588,751.077287,758.230866,761.391167,763.190054,768.715192,770.447814,750.950000,0.712874,0.744777,...,88.782148,87.200000,87.2,1.853655,1.848088,1.880007,2.068814,1.871028,2.03000,2.03
4,780,772.430815,772.254344,772.322597,771.926261,768.820073,772.908223,750.950000,0.742664,0.676266,...,90.113780,87.200000,87.2,2.211915,2.387687,2.368041,2.360032,2.352961,2.03000,2.03

In [14]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
x_scaled = scaler.fit_transform(x)

In [15]:
x = pd.DataFrame(x_scaled,columns = x.columns)
x.head()

,Id,x0_t0,x0_t1,x0_t2,x0_t3,x0_t4,x0_t5,x0_t6,x1_t0,x1_t1,...,x53_t4,x53_t5,x53_t6,x54_t0,x54_t1,x54_t2,x54_t3,x54_t4,x54_t5,x54_t6
0,0.801362,0.705898,0.893195,0.746762,0.734125,0.827552,0.824605,0.570890,0.575582,0.547030,...,0.661788,0.622000,0.235591,0.571714,0.258406,0.616884,0.624806,0.620668,0.736110,0.934087
1,0.271283,0.710715,0.874781,0.684801,0.666394,0.766417,0.790309,0.713824,0.871228,0.850817,...,0.468943,0.476134,0.235591,0.617317,0.249094,0.606146,0.611503,0.696162,0.711883,0.934087
2,0.695800,0.754694,0.903007,0.714729,0.670233,0.749809,0.718746,0.570890,0.523859,0.516806,...,0.623714,0.622000,0.235591,0.674309,0.278552,0.722199,0.683646,0.700478,0.736110,0.934087
3,0.667423,0.589191,0.907484,0.794489,0.738141,0.832793,0.830459,0.570890,0.454628,0.466517,...,0.637821,0.622000,0.235591,0.594343,0.253129,0.611722,0.696407,0.662455,0.736110,0.934087
4,0.885358,0.813002,0.947023,0.871433,0.825231,0.833802,0.853236,0.570890,0.473626,0.423602,...,0.651138,0.622000,0.235591,0.718276,0.333142,0.781686,0.798728,0.836138,0.736110,0.934087