In [1]:
#import pandas
import pandas as pd

In [2]:
#Create a Dataframe
df = pd.DataFrame({"name":["Suchitra Majumdar", "Saima Sayyed", "Isha Gulati"]})
df

                name
0  Suchitra Majumdar
1       Saima Sayyed
2        Isha Gulati

In [4]:
#extract first name and last name
df["first_name"] = df["name"].str.split(" ",expand=True)[0]
df["last_name"] = df["name"].str.split(" ",expand=True)[1]
df

                name first_name last_name
0  Suchitra Majumdar   Suchitra  Majumdar
1       Saima Sayyed      Saima    Sayyed
2        Isha Gulati       Isha    Gulati